name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  mix_test:
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: test
    name: Elixir ${{ matrix.pair.elixir }} / OTP ${{ matrix.pair.otp }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.18.4
              otp: 27.3.4
            lint: lint
    steps:
      - uses: actions/checkout@v4
      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            deps
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache Elixir
        uses: actions/cache@v4
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-elixir-${{ hashFiles('mix.lock') }}
      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip2

      - uses: taiki-e/install-action@v2
        with:
          tool: just,wkg

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Install Dependencies
        run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Build wasm components
        run: mix build

      - name: Run rust tests
        run: mix test.components

      - name: Run elixir tests
        run: mix test
