name: Release WASM Components to Betty Blocks

on:
  push:
    branches: ["main", "acceptance", "edge"]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    env:
      npm_token: ${{ secrets.NPM_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.18.4
              otp: 27.3.4
    steps:
      - uses: actions/checkout@v4
      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            deps
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache Elixir
        uses: actions/cache@v4
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-elixir-${{ hashFiles('mix.lock') }}
      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip2

      - uses: taiki-e/install-action@v2
        with:
          tool: just,wkg

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install npm dependencies
        run: bun install --frozen-lockfile

      - name: Build wasm components
        run: mix build

      - name: Publish to Betty Blocks
        run: bun run publish.ts ${{ secrets.BLOCKSTORE_CLI_SECRET }} ${{ github.ref_name }}
